[submodule "veld_dummy_executable_1_fetch_json"]
	path = veld_dummy_executable_1_fetch_json
	url = git@github.com:steffres/veld_dummy_executable_1_fetch_json.git
[submodule "veld_dummy_executable_2_json_to_xml"]
	path = veld_dummy_executable_2_json_to_xml
	url = git@github.com:steffres/veld_dummy_executable_2_json_to_xml.git
[submodule "veld_dummy_executable_3_validate_xml"]
	path = veld_dummy_executable_3_validate_xml
	url = git@github.com:steffres/veld_dummy_executable_3_validate_xml.git
[submodule "veld_dummy_executable_4_basex"]
	path = veld_dummy_executable_4_basex
	url = git@github.com:steffres/veld_dummy_executable_4_basex.git
[submodule "veld_dummy_data_3_basex"]
	path = veld_dummy_data_3_basex
	url = git@github.com:steffres/veld_dummy_data_3_basex.git
[submodule "veld_dummy_chain_5_load_to_basex"]
	path = veld_dummy_chain_5_load_to_basex
	url = git@github.com:steffres/veld_dummy_chain_5_load_to_basex.git
